.a{
    background: hsl(204, 50%, 54%);
    background-color:rgba(145, 208, 219, 0.45);
    background-size:auto;
    padding: 10px;
    width: 250px;
    display:center;
    flex-direction: column;
    color:rgb(207, 192, 108);
    border-image-width: 0px;
   
   margin-top:175px;
   margin-right:20%;
   transform: translateY(-50%);
  
   border-radius: 25px;
   
 }

 img a{
  display: inline;
  margin-right: auto;
 }

 
