.m {
    background: hsl(204, 50%, 54%);
    background-color:rgba(145, 208, 219, 0.45);
    padding: 10px;
    color:rgb(142, 241, 117);
    border-image-width: 60px;
   border-radius: 10px;
  
 
  
   
 }
@media screen and (min-width: 767px)  {
    .m {
        background-color: aqua;
        width: 100%;
        padding: 5px 10px;
       
    }
}

             
@media screen and (min-width: 768px) and (max-width: 1024px)  {
   
.m{
    background-color: beige;
        width: 750px;
        padding: 5px 10px;
       
       
    }
}
 
@media screen and (min-width: 1024px)  {
.m {
    background-color: rgba(89, 25, 192, 0.15);
        width: 980px;
        padding: 5px 15px;
       
    }
}
 
@media screen and (min-width: 1280px)  {
.m {
    background-color: rgba(145, 208, 219, 0.45);
    font-size: 17px;
        width: 1290px;
        padding: 1px 0px;
        margin-left: 1px;
        
    }
}
